.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  label {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  input[type=range] {
    -webkit-appearance: none;
    width: 200px;
    height: 25px;
    margin-bottom: 20px;
    background-color: #ddd;
    border-radius: 10px;
    outline: none;
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    background-color: #007bff;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .date-display {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-bottom: 10px;
  }
  
  .date-display span {
    font-size: 16px;
  }
  
  button {
    font-size: 18px;
    padding: 10px;
  }
  