@page "/"

@inject HttpClient Http

<PageTitle>Image</PageTitle>

<h3>Картинка</h3>
<img src="@message" alt="Image" style="max-width: 400px; border-radius: 20px;"/>

<button class="btn btn-primary" @onclick="FetchMessage">Получить картинку</button>

@code {
    private string message;

    private async Task FetchMessage()
    {
        var imageBytes = await Http.GetByteArrayAsync("https://localhost:7256/Image");
        message = $"data:image/jpeg;base64,{Convert.ToBase64String(imageBytes)}";
    }
}
